---
---

@import "{{ site.theme }}";


/* Styles for the collapsibles used on the Projects page */

details {
  background-color: rgba(255,255,255,0.05);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

details > summary {
  margin: -20px;
  padding: 20px;
}

details > summary > h2 {
  display: inline-block;
  margin-bottom: 0;
}

details > summary > h3 {
  display: inline-block;
  margin-bottom: 0;
}